<div style='float:right;' id='{id}'>
    <select id="Add_{id}" onchange="ctlBoxAdd($(this).prop('field'),$(this).prop('_form'), this.value)">
        <option value="">Choose field type to add</option>
        <option value="groupField">Add Group or Repeater</option>
        <option value="textField">Add Text, Data, Number...</option>
        <option value="listField">Add List, Yes/No</option>
        <option value="currentUserField">Add User signature</option>
        <option value="currentDateTimeField">Add Timestamp</option>
       </select>
    <span title='Refresh' onclick="ctlBoxRefresh($(this).prop('field'),$(this).prop('_form'))" class='ui-icon ui-icon-refresh'></span>
    <span title='Select' onclick="ctlBoxSelect($(this).prop('field'),$(this).prop('_form'))" class='ui-icon ui-icon-check'></span>
</div>