<div id='prefix_editorRight'>

</div>
<input type="hidden" id="prefix_lastSavedJSON" />
<div class="row" id="prefix_row">
    <div class="fixmyheight col-sm-10" id="prefix_formPreview">Preview</div>

    <div class="fixmyheight col-sm-2" id="prefix_formProperties">

        <div class="row">
            <div class="col-sm-12">
            
                <div>
                    <div style="margin-right:0px;">
                         <button style="width:100%;" id="prefix_selectFillerSave">Submit/Save</button>
                    </div>
                    <ul style="width:80%;position:absolute;z-index:1000;">
                        <li id="prefix_selectFiller_submit">Submit</li>
                        <li id="prefix_selectFiller_saveToWork">Save to Work</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>