<input type="hidden" id="prefix_lastSavedJSON" />
<div class="row" id="prefix_row">
    <div class="col-sm-8" id="prefix_formPreview">Preview</div>

    <div class="col-sm-4" id="prefix_formProperties">
         <div class="row">
            <div class="col-sm-6"></strong></div>
            <div class="col-sm-6"><button id="prefix_formSave">Save Form</button></div>
            </div>
         <div class="row">
            <div class="col-sm-12"><strong>Form properties:</strong></div>
            </div>
        <div class="row">
            <div class="col-sm-4">Name:</div>
            <div class="col-sm-8">
                <input type="text" style="width:100%;" id="prefix_formProperties_name" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"> Description:</div>
            <div class="col-sm-8">
                <textarea style="width:100%;" id="prefix_formProperties_description" />
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12"><strong>Field properties:</strong></div>
        </div>
    </div>
</div>