

<div id='prefix_editorRight'></div>
<input type="hidden" id="prefix_lastSavedJSON" />
<div class="row" id="prefix_row">
    <div class="fixmyheight col-sm-8" id="prefix_formPreview">Preview</div>

    <div class="fixmyheight col-sm-4" id="prefix_formProperties">
        <div class="row">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <button id="prefix_formSave" style="width:100%;">Save Form</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12"><strong>Properties:</strong></div>
        </div>
        <div class="row">
            <div class="col-sm-12" id='prefix_propGrid'></div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <button id="prefix_formReset" style="width:100%;">Reset changes</button>
            </div>
            <div class="col-sm-6">
                <button id="prefix_formApply" style="width:100%;">Apply changes</button>
            </div>
        </div>

    </div>

</div>