<div id='prefix_editorRight'>

</div>
<input type="hidden" id="prefix_lastSavedJSON" />
<div class="row" id="prefix_row">
    <div class="fixmyheight col-sm-8" id="prefix_formPreview">Preview</div>

    <div class="fixmyheight col-sm-4" id="prefix_formProperties">
        <div class="row" style="padding-bottom:3px;">
            <div class="col-sm-6">
                <label for="prefix_impersonateUser">Show form as: </label>
            </div>
            <div class="col-sm-6">
                <select style="width:100%;" id="prefix_impersonateUser" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <select style="width:100%;" id="prefix_editormode">
                    <option selected value="edit">Edit mode</option>
                    <option value="1preview">Preview mode</option>
                </select>
            </div>
            <div class="col-sm-6">
            
                <div>
                    <div style="margin-right:0px;">
                         <button style="width:100%;" id="prefix_selectSave">Save form</button>
                    </div>
                    <ul style="width:80%;position:absolute;z-index:1000;">
                        <li id="prefix_selectSave_prepublish">Pre-publish</li>
                        <li id="prefix_selectSave_publish">Publish</li>
                        <li id="prefix_selectSave_save">Save a copy</li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12"><strong>Properties:</strong></div>
        </div>
        <div class="row">
            <div class="col-sm-12" id='prefix_propGrid'></div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <!--                <button id="prefix_formReset" style="width:100%;">Reset changes</button> -->
            </div>
            <div class="col-sm-6">
                <button id="prefix_formApply" style="width:100%;">Apply changes</button>
            </div>
        </div>

    </div>

</div>