<div style='float:right;' id='{id}'>
    <span title='Refresh' onclick="ctlBoxRefresh($(this).prop('field'),$(this).prop('form'))"  class='ui-icon ui-icon-refresh'></span>
    <span title='Add' class='ui-icon ui-icon-document'></span>
    <select id="speed">
      <option>Choose field type to add</option>
      <option>Container</option>
      <option>Text</option>
      <option>List</option>
      <option>Current User</option>
      <option>Current Date and time</option>
    </select>
    <span title='Select' onclick="ctlBoxSelect($(this).prop('field'),$(this).prop('form'))" class='ui-icon ui-icon-check'></span>
</div>