<br />
<div style='float:right;' id='{id}'>
    <span title='Move order' class='ui-icon ui-icon-arrowthick-2-n-s'></span>
    <span title='Delete' onclick="ctlBoxDelete($(this).prop('field'),$(this).prop('form'))" class='ui-icon ui-icon-trash'></span>
    <span title='Select' onclick="ctlBoxSelect($(this).prop('field'),$(this).prop('form'))" class='ui-icon ui-icon-check'></span>
    <span title='Expand / Collapse' onclick="ctlBoxExpandCollapse($(this), $(this).prop('field'),$(this).prop('form'))" class='ui-icon ui-icon-minus'></span>
</div>
<br />