<br />
<div style='float:right;' id='{id}'>
    <span title='Move up order' onclick="ctlBoxUp($(this).prop('field'),$(this).prop('form'))" class='ui-icon ui-icon-arrow-1-n'></span>
    <span title='Move down order' onclick="ctlBoxDown($(this).prop('field'),$(this).prop('form'))" class='ui-icon ui-icon-arrow-1-s'></span>
    <span title='Delete' onclick="ctlBoxDelete($(this).prop('field'),$(this).prop('form'))" class='ui-icon ui-icon-trash'></span>
    <span title='Select' onclick="ctlBoxSelect($(this).prop('field'),$(this).prop('form'))" class='ui-icon ui-icon-check'></span>
</div>
<br />