@font-face {
    font-family: "opensans";
    src: url("./fonts/OpenSans.woff") format('woff');
   }
@font-face {
    font-family: "opensanscondensed";
    src: url("./fonts/OpenSansCondensed.woff") format('woff');
   }
body{
    font-family: opensans;
 
}
.ui-widget {
     font-family: opensans;
}

.pgTable{
    width:100%;
}
.pgCell > input {
    width:100%;
}
      #dialog label,
        #dialog input {
            display: block;
        }
        
        #dialog label {
            margin-top: 0.5em;
        }
        
        #dialog input,
        #dialog textarea {
            width: 95%;
        }
        
        #tabs {
           /* margin-top: 1em; */
        }
        
        #tabs li .ui-icon-close {
            float: left;
            margin: 0.4em 0.2em 0 0;
            cursor: pointer;
        }
        
        #add_tab {
            cursor: pointer;
        }
             body {
            background: linear-gradient(to right, rgba(87, 87, 153, 1) 0%, rgba(105, 105, 211, 1) 51%, rgba(142, 142, 247, 1) 100%, rgba(105, 105, 211, 1) 100%, rgba(142, 142, 247, 1) 101%);
         
        }
        /* form design */
        fieldset{padding:.35em .625em .75em;margin:0 2px;border:1px solid silver;}
        legend{margin-bottom:2px;}
        .datachiefFieldRequired{color:red;padding-left:5px;}
        .datachiefFieldRow{
            border: solid 1px transparent;
        }
        .datachiefFieldRowSelected{
            border:dashed 1px red;
            background-color: yellow;
        }
        .datachiefField{}
        .datachiefFieldText{
            width:100%;
        }
        .datachiefFieldSelect{
            width:100%;
 
        }
        .ui-selecting { background: #FECA40; }
        .ui-selected { background: #F39814; color: white; }
        .ui-icon{float:left;cursor:pointer;}
        .help-block
        {color:red;
        display:none;}
 